@use "../../styles" as *;

.opaque_background {
  background-color: $darkest-purple;
  border-radius: 10px;
  height: 100%;
  left: 0;
  margin: auto;
  max-width: 744px;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity 0.2s ease;
  z-index: 1;

  &[data-hovered="true"] {
    opacity: 0.6;
  }
}

.box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  left: 0;
  margin: auto;
  max-width: 744px;
  opacity: 0;
  padding: 24px;
  position: absolute;
  right: 0;
  transition: opacity 0.2s ease;
  z-index: 1;

  &[data-hovered="true"] {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.description {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.link_box {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.link {
  display: flex;
  transition: scale 0.2s ease;

  &:hover {
    scale: 1.25;
  }
}

.date {
  font-weight: 300;
  text-align: center;
}

.image {
  border-radius: 10px;
  display: block;
  margin: auto;
  max-width: 744px;
  object-fit: cover;
  transition: filter 0.2s ease;
  width: 100%;

  &[data-hovered="true"] {
    filter: blur(2px);
  }
}

@include media-query($tablet-s) {
  .title {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .list {
    gap: 8px;
    justify-content: center;
  }

  .icon {
    scale: 0.8;
  }

  .date {
    font-size: 12px;
  }
}
