@use "../../styles" as *;

.item {
  display: flex;
  flex: 1;
}

.button {
  @include focus("small", $cyan);

  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 8rem;
  transition: background-color 0.1s ease;

  &:focus {
    background-color: $purple;
  }

  &:hover {
    background-color: $purple;
  }
}
