@use "../../styles" as *;

.item {
  align-items: center;
  display: flex;
  flex: 1;
}

.button {
  @include focus("large", $cyan, "light");

  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 8px;
  transition: all 0.15s ease, background-color 0.15s ease;

  &:hover {
    background-color: $purple;
  }

  &[data-selected="true"] {
    background-color: $purple;
    box-shadow: 0 0 48px $purple;
  }
}
