@use "../../styles" as *;

.section {
  background-color: $darkest-purple;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  gap: 32rem;
  height: 600rem;
  overflow: auto;
  padding: 32rem;
}

.title {
  animation: $fade-in-animation;
  font-size: 24rem;
  font-weight: 500;
}

.content {
  animation: $fade-in-animation;
}

.section_container {
  display: flex;
  justify-content: center;
}

.container {
  animation: $fade-in-animation;
  display: flex;
  flex-direction: column;
  gap: 64rem;
  width: 600rem;
}
