@use "../../styles" as *;

.section {
  background-color: $darkest-purple;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  gap: 32rem;
  padding: 32rem;
  z-index: 0;
}

.title {
  animation: $fade-in-animation;
  font-size: 24rem;
  font-weight: 500;
}
.section_container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 128rem;
  width: 600rem;
}

.tree_1 {
  position: absolute;
  z-index: -1;

  & path {
    filter: drop-shadow(0 0 5px $pink);
  }
}

.tree_2 {
  @extend .tree_1;

  transform: translateY(960px);
}

.tree_3 {
  @extend .tree_1;

  transform: translateY(1920px);
}

.tree_4 {
  @extend .tree_1;

  transform: translateY(2880px);
}

.tree_5 {
  @extend .tree_1;

  transform: translateY(3840px);
}
