// Animations and transitions

$default-transition: background-color 0.3s ease, box-shadow 0.3s ease;
$pulse-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

@mixin gradient {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
