// Media query breakpoints

$desktop: 2560rem;

$laptop-l: 1440rem;
$laptop-m: 1280rem;
$laptop-s: 1024rem;

$tablet-l: 900rem;
$tablet-m: 768rem;
$tablet-s: 600rem;

$mobile-l: 425rem;
$mobile-m: 375rem;
$mobile-s: 320rem;
