// Color palette

$cyan: #05f2db;
$dark-purple: #361973;
$darkest-purple: #060526;
$opaque-black: #00000005;
$pink: #ef2ef2;
$purple: #7338f2;
$white: #ffffff;

$gradient-palette: $cyan, $dark-purple, $darkest-purple, $pink, $purple;
