:root {
  --alert: #EF4444;
  --default: #004080;

  --neutral-dark: #71717A;
  --neutral-darker: #18181B;
  --neutral-light: #D4D4D8;
  --neutral-lighter: #FAFAFA;

  --arduino: #00979D;
  --azure: #0089D6;
  --bash: #4EAA25;
  --bootstrap: #563D7C;
  --cs: #5C2D91;
  --css: #1572B6;
  --cypress: #17202C;
  --docker: #2496ED;
  --dotnet: #512BD4;
  --express: #000000;
  --figma: #F24E1E;
  --firebase: #FFCA28;
  --git: #F05032;
  --github: #181717;
  --html: #E44D26;
  --jest: #C21325;
  --js: #F7DF1E;
  --laravel: #FF2D20;
  --linux: #FCC624;
  --materialui: #0081CB;
  --md: #000000;
  --mongodb: #47A248;
  --mysql: #4479A1;
  --nextjs: #000000;
  --nodejs: #68A063;
  --php: #777BB4;
  --postgresql: #336791;
  --powershell: #012456;
  --prisma: #2D3748;
  --py: #3776AB;
  --react: #61DAFB;
  --redux: #764ABC;
  --sass: #CC6699;
  --sqlite: #003B57;
  --styledcomponents: #DB7093;
  --tailwind: #38B2AC;
  --threejs: #000000;
  --ts: #007ACC;
  --ubuntu: #E95420;
  --vercel: #000000;
  --vite: #646CFF;
  --vitest: #000000;
  --vscode: #007ACC;
  --windows: #0078D6;
}
