@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar-image,
.avatar-image > rect {
  height: 128px;
  position: absolute;
  width: 128px;
}

.slide-flex {
  display: flex !important;
}
