@use "../../styles" as *;

.page {
  display: flex;
  justify-content: center;
}

.page_container {
  @include animated-background;

  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 32rem;
  padding: 6rem;
  width: 1200rem;
}
