@use "../../styles" as *;

.technology_area {
  display: flex;
}

.technology_container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
}

.technology {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.icon {
  align-items: center;
  background-color: $dark-purple;
  border-radius: 100rem;
  box-shadow: 0 0 48rem $dark-purple;
  display: flex;
  height: 80rem;
  justify-content: center;
  width: 80rem;
}
