@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes orbit {
  to {
    transform: rotate(360deg);
  }
}

@keyframes separate {
  from {
    margin: 0 -20px;
  }

  to {
    margin: 0 20px;
  }
}
