@use "../../styles" as *;

.background_container {
  background-color: $opaque-black;
  inset: 0;
  min-height: 100vh;
  position: absolute;
  transition: all 0.05s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.modal {
  background-color: $purple;
  border-radius: 10rem;
  flex-direction: column;
  left: 50%;
  padding: 24rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.open {
  opacity: 1;
  visibility: visible;
}

.close {
  opacity: 0;
  visibility: hidden;
}
