@use "../styles" as *;

.page {
  display: flex;
  justify-content: center;
}

.page_box {
  @include animated-background-component;

  border-radius: 20px;
  box-shadow: 0 0 36px $purple;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 32px 16px;
  padding: 4px;
  width: 1200px;
}

.list {
  background-color: $darkest-purple;
  border-radius: 20px;
  display: flex;
  justify-content: center;

  & li:first-of-type button {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  & li:last-of-type button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}

@include media-query($mobile-l) {
  .page_box {
    gap: 8px;
  }

  .list {
    flex-direction: column;

    & li:first-of-type button {
      border-bottom-left-radius: 0;
      border-top-right-radius: 20px;
    }

    & li:last-of-type button {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 0;
    }
  }
}
