@use "../../styles" as *;

.header {
  background-color: $darkest-purple;
  border-radius: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 32rem;
}

.header_container {
  display: flex;
  gap: 24rem;
}

.author {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  justify-content: center;
}

.social_medias {
  display: flex;
  gap: 10rem;
}
