@use "../../styles" as *;

.technology_container {
  display: flex;
}

.container {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12rem;
}

.technology {
  align-items: center;
  background-color: $dark-purple;
  border-radius: 100rem;
  display: flex;
  height: 80rem;
  justify-content: center;
  width: 80rem;
}
