@use "../../styles" as *;

.link {
  @include animated-background;
  @include focus("small", $cyan);

  align-items: center;
  border-radius: 6rem;
  cursor: pointer;
  display: flex;
  height: 32rem;
  justify-content: center;
  transition: scale 0.3s ease;
  width: 32rem;

  &:hover {
    scale: 1.5;
  }
}
