@use "../../styles" as *;

.footer {
  background-color: $darkest-purple;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

@include media-query($tablet-s) {
  .content {
    font-size: 14px;
  }
}
