@use "../../styles" as *;

.avatar_container {
  display: flex;
  gap: 40rem;
}

.avatar,
.avatar > rect {
  height: 128rem;
  position: absolute;
  width: 128rem;
}

.avatar_background {
  animation: $pulse-animation;
  border-radius: 100rem;
  box-shadow: 0 0 48rem $pink;
  height: 128rem;
  width: 128rem;
}
