@use "../../styles" as *;

.avatar_container {
  cursor: pointer;
  display: flex;
  gap: 40rem;
}

.avatar,
.avatar > rect {
  height: 128rem;
  position: absolute;
  width: 128rem;
}

.avatar_background {
  animation: $pulse-animation;
  border-radius: 100rem;
  box-shadow: 0 0 48rem $pink;
  height: 128rem;
  width: 128rem;
}

.primary_avatar,
.secondary_avatar {
  @extend .avatar;
}

.primary_rotation {
  animation: $rotate-primary-avatar;

  .secondary_avatar {
    animation: $toggle-secondary-avatar;
  }
}

.secondary_rotation {
  animation: $rotate-secondary-avatar;

  .secondary_avatar {
    animation: $toggle-primary-avatar;
  }
}
