@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --other: #0a0906;
  --background: #121214
  /* background-image: linear-gradient(270deg, #1f0cf6, #0b30d4, #006aeb, #0b9ad4); */
}

html {
  background-color: var(--background);
  height: 100%;
}
