@import "./styles/react-toastify";
@import "./styles/swiper";
@import "tailwindcss";

@plugin "./plugins/add-dot-thick-background-utility";
@plugin "./plugins/add-variables-for-colors";
@plugin "tailwindcss-animate";

@theme {
  --breakpoint-s-1440: 90rem; /* 1440px */
  --breakpoint-s-1320: 82.5rem; /* 1320px */
  --breakpoint-s-1200: 75rem; /* 1200px */
  --breakpoint-s-1080: 67.5rem; /* 1080px */
  --breakpoint-s-960: 60rem; /* 960px */
  --breakpoint-s-840: 52.5rem; /* 840px */
  --breakpoint-s-720: 45rem; /* 720px */
  --breakpoint-s-600: 37.5rem; /* 600px */
  --breakpoint-s-480: 30rem; /* 480px */
  --breakpoint-s-360: 22.5rem; /* 360px */

  --font-primary: "Montserrat", sans-serif;
}

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes grow {
    from {
      scale: 0;
    }
    to {
      scale: 1;
    }
  }

  @keyframes rotate-primary {
    from {
      rotate: y 0deg;
    }
    to {
      rotate: y 180deg;
    }
  }

  @keyframes rotate-secondary {
    from {
      rotate: y 180deg;
    }
    to {
      rotate: y 0deg;
    }
  }

  @keyframes slide-in-down {
    from {
      translate: 0 -80px;
    }
    to {
      translate: 0px;
    }
  }

  @keyframes toggle-primary {
    from {
      z-index: 50;
    }
    to {
      z-index: 0;
    }
  }

  @keyframes toggle-secondary {
    from {
      z-index: 0;
    }
    to {
      z-index: 50;
    }
  }

  .animate-fade-in {
    animation: fade-in 1s forwards;
  }

  .animate-grow {
    animation: grow 1s forwards;
  }

  .animate-rotate-primary {
    animation: rotate-primary 2s forwards;
  }

  .animate-rotate-secondary {
    animation: rotate-secondary 2s forwards;
  }

  .animate-slide-in-down {
    animation: slide-in-down 1s forwards;
  }

  .animate-toggle-primary {
    animation: toggle-primary 1.2s forwards;
  }

  .animate-toggle-secondary {
    animation: toggle-secondary 3.5s forwards;
  }
}

.w-300 {
  width: calc(var(--spacing) * 300) /* 75rem = 1200px */;
}

* {
  @apply font-primary list-none selection:bg-indigo-500 selection:text-white;
}

html {
  @apply scroll-smooth relative;
}

body {
  @apply bg-black;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/montserrat/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/montserrat/Montserrat-Bold.ttf) format("truetype");
}
