@import "tailwindcss";

@import "./styles/breakpoints.css";
@import "./styles/fonts.css";
@import "./styles/swiper.css";
@import "./styles/utilities.css";

@plugin "tailwindcss-animate";

@plugin "./plugins/add-dot-thick-background";
@plugin "./plugins/add-variables-for-colors";

* {
  @apply font-primary list-none selection:bg-indigo-500 selection:text-white;
}

html {
  @apply scroll-smooth relative;
}

body {
  @apply bg-black;
}
